body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #white;
  padding: 14px 16px;
}


.navbar a,
.navbar .nav-item{
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:  #4b84e3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


#factimage1
{
  float: left;
}

#factimage3
{
  margin-left: calc(100% / 2.6);
  margin-right: calc(100% / 2.6);
}

#factimage2
{
  float: right;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {background-color: #F6F7EB;}
h1   {color:  #4b84e3;
      font-family: Paladino;
      font-size: 300%;
      text-align: center;
      }
p    {color: black;}

nav {
  background-color: #55828B;
}

.navbar .nav-item:hover .nav-link,
.navbar .navbar-brand:hover  {
  background-color: #F6F7EB;
}

.carousel {
  width:600px;
  height:200px;
  margin:auto;
}
.pb-5, .py-5 {
  padding-bottom: 3rem!important;
}
.pb-5, .py-5 {
  padding-top: 3rem!important;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}

.container {
  width:100%
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
  display: block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15
    px;
    margin-left: -15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

@media (min-width: 768px)
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-6 {
  position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}

::after, ::before {
    box-sizing: border-box;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

svg {
    overflow: hidden;
    vertical-align: middle;
}
.card-body {
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.align-items-center {
  align-items: center!important;
}
.justify-content-between {
  justify-content: space-between!important;
}
.d-flex {
  display: flex!important;
}

div {
    display: block;
}

.navbar  {
  background-color: #55828B;
}

h2 { font-family: "garamond"; font-size: 50px; color: #080F0F; font-weight:"bold";
}

#aboutustext {
  font-family: "garamond"; font-size: 25px; color: #080F0F;
}

#colFormLabelSm {
  border: 2px;
  border-radius: 4px;
}
